<h1>Liste des restaurants</h1>
<ul >
  <% @restaurants.each do |restaurant| %>
    <li class="card" style="width: 18rem;">
      <div class="m-10">
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </div>
    </li>
  <% end %>
</ul>
